<html>
  <body>

<!-- <form action="/action_page.php">-->
<!--  <label for="fname">First name:</label><br>-->
<!--  <input type="text" id="fname" name="fname" value="John"><br>-->
<!--  <label for="lname">Last name:</label><br>-->
<!--  <input type="text" id="lname" name="lname" value="Doe"><br><br>-->
<!--  <input type="submit">-->
<!--</form>-->
<!--<script src="js/basket_functions.js"></script>-->
<script src="js/bootstrap.min.js"></script>
<script src="basket_functions.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="js/basket_functions.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>


<script> function simple_message(){
    alert("This button was clicked");
}
</script>
<button> onclick = simple_message() </button>




          <div class="col col-qty  layout-inline">
          <a type="class" href="#" class="qty qty-minus ">-</a>
              <label>
                  <input type="button" value="1" />
              </label>
              <!--              document.getElementById("myText").value = "Johnny Bravo"-->
          <a type="class" href="#" class="qty qty-plus">+</a>


        </div>

  </body>
</html>
